# Restore wallpaper that was set
nitrogen --restore &

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Screenshots
flameshot &

# Bluetooth systray icon
blueman-applet &

# Adding ssh key
eval "$(ssh-agent)"
ssh-add $HOME/.ssh/github

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
